      @font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium'!important;
}

h1, h2, h3, h4, h5 {
      font-family: 'GmarketSansBold'!important;
}

.webcam {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
   border-radius: 30px;
}